:root{
    --bkg-color: white;
    --pen-color: black;
    --effect-time: 100ms;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 60%;
    width: 50%;
    box-shadow: 2px black ;
    
}
.container{
    display: grid;
    width: 100%;
    height: 100%;
    background-color: var(--bkg-color); /* This will change the grid background color*/
}

 
.erase{
    display: flex;
    justify-content: center;
}
.sidebar{
    position: fixed;
    max-width: 5%;
    max-height: 80%;
    top:10%;
    bottom: 10%;
    box-shadow: 0px 15px 25px rgb(6, 87, 185);
}
.icons{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.icons button{
    background-color: rgba(0, 0, 0, 0.432);
    border: none;
    outline: none;
    margin: 0 20%;
    box-shadow: 0px 15px 20px rgb(64, 15, 189);
    border-radius: 20%;
    /* border: 2px solid red; */
    
}
.icons button:hover{
    transform: translateY(-9px);
    box-shadow: 0px 15px 20px rgb(209, 158, 222);
}
.icons img{
    max-width: 90%;
    max-height: 90%;
}

.options{
    position: fixed;
    top: 10%;
    bottom: 40%;
    left: 5%;
    width: 20%;
    outline: 2px solid green;
    display: grid;
    grid-template-columns: auto;
}
.chosecolor,.chosegrid,.choseanim{
    border: 2px solid green;
}

.speech-bubble {
    position: relative;
    background: rgb(255, 255, 255);
    border-radius: .4em;
    height: 90%;
    width: 60%;
    margin-left: 30px;
    display: none;
    
   
}  
.speech-bubble:after {
      content: '';
      position: absolute;
      left: 0;
      top: 15%;
      width: 0;
      height: 0;
      border: 20px solid transparent;
      border-right-color: rgb(255, 255, 255);
      border-left: 0;
      border-bottom: 0;
      margin-top: -10px;
      margin-left: -20px;
      
}
.speech-bubble2 {
    position: relative;
    background: rgb(255, 255, 255);
    border-radius: .4em;
    height: 90%;
    width: 60%;
    margin-left: 30px;
    display: none;

    
   
}  
.speech-bubble2:after {
      content: '';
      position: absolute;
      left: 0;
      top: 30%;
      width: 0;
      height: 0;
      border: 20px solid transparent;
      border-right-color: rgb(255, 255, 255);
      border-left: 0;
      border-bottom: 0;
      margin-top: -10px;
      margin-left: -20px;
      
}
.speech-bubble3 {
    position: relative;
    background: rgb(255, 255, 255);
    border-radius: .4em;
    height: 90%;
    width: 60%;
    margin-left: 30px;
    display: none;
    
   
}  
.speech-bubble3:after {
      content: '';
      position: absolute;
      left: 0;
      top: 10%;
      width: 0;
      height: 0;
      border: 20px solid transparent;
      border-right-color: rgb(255, 255, 255);
      border-left: 0;
      border-bottom: 0;
      margin-top: -10px;
      margin-left: -20px;
      
}
