.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: lightblue;
}
.container{
    display: grid;
    width: 50%;
    height: 50%;
}